* { margin:0; padding:0; border:0; text-indent:0; }

a:hover,span:hover {
        transition: all 0.1s;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
}

html, body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-color: #efefef;
}

/********** clearfix ************/

.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear:both;
}
.group {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/********** clearfix end ************/

a { color: #000; text-decoration: none;}

#header {
	position:relative;
	left:130px;
	width:80%; 
	min-width:1000px;
        padding: 20px 0px;
}
#header h1 {
	font-weight: lighter;
	font-size: 60px;
	color:#aaa;
	text-shadow:1px 1px 3px #fff;
}

#header img#cc {
	float:right;
}

div.main {
	background-color: #fff;
	position: relative;
	left: 130px;
	border: 1px solid #ccc;
	width:80%;
	min-width: 1000px;
	padding:10px 40px;
}

/********** nawigacja górna ************/

div.navi-tabs {}
div.navi-tabs ul {
	list-style-type: none;
	text-transform: uppercase;
	position: relative;
	z-index: 5;
	left: 170px;
	top: 1px;
        width: 80%;
}

div.navi-tabs ul li {
	float:left;
	margin-right:10px;
}

div.navi-tabs ul li a {
	display: block;
	padding:5px 10px;
	border:1px solid #ccc;
	background-color: #efefef;
}

div.navi-tabs ul li a#active {
	border-bottom:1px solid #fff;
	background-color: #fff;
}

/********** end nawigacja górna ************/

/********** SPEECH ************/

/************ nawigacja boczna **************/

div.yearlist {
        text-align: center;
	float:left;
}

div.yearlist ul {
	font-size:20px;
	list-style-type:none;
        margin-top:40px;
	position:relative;
	left:50px;
}

div.yearlist ul li { }

div.yearlist ul li.wybrany { font-weight:bold; }
div.yearlist ul li.wybrany a { color:#e16f1e; }

div.yearlist ul li a { color: #aaa; }
div.yearlist ul li a:hover { color: #000; font-weight:bold;}
div.yearlist ul li a:active { color: #aaa; }

/************ end nawigacja boczna **************/

.cloud {
	width:80%;
	min-width: 800px;
}

.cloud span { margin: 0 10px 0 0; cursor: pointer; }
.cloud span:hover { color: #e16f1e; }
.cloud span:active { color: #e16f1e; }
.cloud span:visited { }

div#metainfo {
	display:table;
	margin-top:40px;
	width: 80%;
        min-width: 500px;
	border-top: 1px solid #ccc;
	padding: 0px 10px 10px 0px; 
	
}
div#metainfo h2 {
	display:table-row;
	font-size:60px;
	font-weight: lighter;
	color: #e16f1e;
	margin-bottom: 10px;
}

div#twarz {
	display:table;
	width:100%;
	margin-bottom:20px;
	margin-top:10px;
}

div.speaker {
	display:table-cell;
	vertical-align:top;
	width: 50%;
	min-height: 160px;
	margin-bottom:20px;
}

div.speaker img.head {
	margin-right: 30px;
	width:160;
	height: 160px;
	float: left;
}

.speaker h3, .cabinet h3 {
        font-size: 30px;
        font-weight: lighter;
	width:400px;
}

.speaker h4, .cabinet h4 {
	font-size: 20px;
	font-style: italic;
	font-weight: lighter; 
}

div.speech-background {
	display:table-cell;
	vertical-align:top;
	width: 49%;
	clear: right;
	font-style: italic;
}

div.cabinet {
	border-top: 1px solid #ccc;
	clear: both;
	width:100%;
	padding: 10px 0;
}

div.sources {
	padding: 20px 0;
        width:50%;
	border-top: 1px solid #ccc;
	font-size: small;
}

div.sources a { color: #e16f1e; font-weight:bold;}

/************** popup ****************/

#popup {
	position:absolute;
	z-index: 42;
	width:80%;
	border:1px solid gray;
	margin: 40px 0;
	height:250px;
	overflow-y: scroll;
	background-color: white;
	box-shadow: 0 5px 15px #ccc;
}

#popup p { margin:1em 1em 1em 10px; }
#popup p a { color: #000; }
#popup p a:hover { color: #e16f1e; }
#popup p a:active { color: #e16f1e; }
#popup p a:visited { }

#popup p a.wskazany { font-weight: bold; color: #e16f1e; }

#popup #belka {
	width:99%;
	margin:0;
	border-bottom:1px solid gray;
	text-align:left;
	text-transform:uppercase;
	font-size:small;
	padding: 0 5px;
}

#popup #belka span#belka-close {
	float:right;
	cursor:pointer;
	color: #e16f1e;
	font-size:x-small;
}

/************** end popup ****************/

/************** end SPEECH ****************/

/************** YEAR ****************/

.years-table {
	display:table;
	margin:20px 0;
}

.years-row {
	display:table-row;
	width:100%;
}

.year-head-nav {
        display:table-cell;
        text-align:center;
}

.year-head-nav a {
	font-weight:bolder;
	color:  #e16f1e;
}

.year-head {
	display:table-cell;
	text-align:center;
}

.year-head h5 {
	margin: 0 20px;
	border: 1px solid #ddd;
	background-color:#eee;
}

.year-head h5 a:hover {
        color:  #e16f1e;
}

.cloud-row {
	display:table-row;
	width:100%;
}

.cloud-cell-nav { display:table-cell; }

.cloud-cell { display:table-cell; }

.cloud-cell ul { margin: 0 10px; }

.cloud-cell ul li { 
	list-style-type: none;
	text-align:center;
}

.cloud-cell ul li span a {}
.cloud-cell ul li span a:hover {color: #e16f1e;}
.cloud-cell ul li span a:active {}
.cloud-cell ul li span a:visited {}

/************** end YEAR ****************/

/************** WORD *******************/

div.yearcount { margin-top:25px; }

div.yearcount ul {
	font-size:20px;
	list-style-type:none;
	float: left;
	position:relative;
        margin-bottom:25px;
	width:60%;
	min-width:60%;
}

li.barchart {
	display:block;
	clear:right;
	margin-bottom:1px;
}

li.barchart .bar-rok {
	color:#aaa;
	display:inline;
	float:left;
	margin-right:30px;
}

li.barchart .bar-rok a:hover {
        color: #e16f1e;
}


li.barchart div.chartbar {
	background-color: #e16f1e; 
	border: 1px solid #e16f1e; 
        height: 16px;
	float: left; 
        margin-right: 30px;
	margin-top:3px; 
}

#word-metadata {
	float:left;
	display:relative;
	margin-left:20px;
	width: 30%;
	margin-bottom: 10px;
}

#word-metadata h2 {
	font-size:50px;
	font-weight: lighter;
	color: #e16f1e;
	margin-bottom: 10px;
}

#word-metadata h3 {
	font-size:40px;
	font-weight: lighter;
	color: #000;
}

/************** end WORD *******************/

/************** FOOTER *******************/

#footer {
	clear:both;
	margin: 20px 0 0 0;
	padding: 20px 130px;
	background-color: #fff;
	color: #000;
	font-size:small;
	border-top: 1px solid #ccc;
	display:table;
}

#footer p {
	display:table-cell;
	width:40%;
}


#footer #foot-logo {
	display:table-cell;
	vertical-align: bottom;
}

#footer #foot-logo img {
	display:inline-block;
	margin: 0 20px;
	}

/************** end FOOTER *******************/

