<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl">
  <head>
    <title>Polski budżet w słowach</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <h1>Polski budżet w słowach</h1>
    <div class="navi-tabs group">
      <ul>
        <li><a href="" id="active">Przemówienia</a></li>
        <li><a href="">Słowa przez lata</a></p></li>
      </ul>
    </div><!-- navi-tabs end -->
{% if years %} 
    <div class="yearlist group">
      <ul>{% for y in years %}
        <li><a href="{% url chmura.speech.views.speech object_id=y.id %}">{{ y.date.year }}</a></li>{% endfor %}
      </ul>
    </div>{% endif %}

    <div class="main group">
      <div class="content">{% block content %}{% endblock %}      </div>
    </div>
  </body>
</html>