{% extends "page.html" %}{% block content %}
      <div class="metainfo">
        <h2>{{ speech.date.year }}</h2>
        <img src="{{ speech.speaker.head.url }}" id="head" class="head" 
          alt="{{ speech.speaker.name }}: portret" /> 
        <div class="speaker">
          <h4>{{ speech.speaker.function }}</h4>
          <h3>{{ speech.speaker.name }}</h3>
        </div>
        <div class="cabinet">
          <h4>ekipa rządząca</h4>
          <h3 class="cabinet-name">{{ speech.cabinet.name }}</h3>
        </div>
        <div class="speech-background">
          <p>{{ speech.background }}</p>
        </div>
      </div>
      <hr />
      <div class="sources">
        <p>{% if sources %}Pełny tekst przemówienia: {% for source in sources %}
          <a href="{{ source.url }}">{{ source.name }}</a>{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}{% endif %}</p>
      </div>{% endblock %}