{% extends "page.html" %}{% block content %}
        <div class="cloud" id="cloud">{% for word in word_count %}
          <span onclick="context_popup({{ speech.id }},{{ word.2}})" style="font-size: {{ word.1 }}em;">{{ word.0 }}</span>{% if not forloop.last %}{% endif %}{% endfor %}</p>
        </div>

        <div id="popup" style="display: none;">
        </div><!-- koniec popup -->

        <div id="metainfo">
          <div class="metabox">
            <h2>{{ speech.date.year }}</h2>                 
<div id="twarz">
            <div class="speaker">
              <img src="{{ speech.speaker.head.url }}" id="head" class="head" 
                alt="{{ speech.speaker.name }}: portret" /> 
              <h4>{{ speech.speaker.function }}</h4>
              <h3>{{ speech.speaker.name }}</h3>
            </div>
            <div class="speech-background">
              <p>{{ speech.background }}</p>
            </div>
          </div><!-- metabox end -->
</div> <!-- koniec twarz -->
          <div class="cabinet">
            <h4>ekipa rządząca</h4>
            <h3>{{ speech.cabinet.name }}</h3>
          </div>
          {% if sources %}<div class="sources">źródła: {% for source in sources %}
            <a href="{{ source.url }}">{{ source.name }}</a>{% if not forloop.last %}, {% else %}{% endif %}{% endfor %}
          </div>{% endif %}
        </div><!-- metainfo end -->
{% endblock %}
