{% extends "page.html" %}{% block content %}

    <div class="yearcount">
      <ul>{% for item in counts %}
        <li class="barchart">
          <div class="bar-rok"><a href="{% url chmura.speech.views.speech object_id=item.0.id %}">{{ item.0.date.year }}</a></div>
          <div class="chartbar" style="width: {{ item.2 }}em;">&nbsp;</div>{{ item.1 }}</li>{% endfor %}
      </ul>
    </div>
   <div id="word-metadata">
     <h2>{{ word }}</h2>
     <p>we wszystkich przemówieniach słowo wystąpiło</p>
     <h3>{{ sum }} raz{% if sum != "1" %}y{% endif %}</h3>
   </div>
{% endblock %}
