{% extends "page.html" %}{% block content %}

    <div class="yearcount">
      <ul>{% for item in counts %}
        <li class="barchart">
          <div class="bar-rok">{{ item.0.date.year }}</div>
          <div class="chartbar" style="width: {{ item.2 }}em;">&nbsp;</div>{{ item.1 }}</li>{% endfor %}
      </ul>
    </div>
   <div class="metadata">
     <h2>{{ word }}</h2>
     <h4>we wszystkich przemówieniach słowo wystąpiło</h4>
     <h3>{{ sum }} raz{% if sum != "1" %}y{% endif %}</h3>
   </div>
{% endblock %}
