{% extends "page.html" %}{% block content %}      <div class="axis-horizontal">{% for s in speeches %}{{ s.date.year }}{% endfor %}</div>
       <div class="">{% for year in array %}
         <div class="word-column" style="display: table; width: 100%;">
           <p>{{ year.0 }}
           <div class="cloud" id="cloud" style="display:table-cell; width: 10em;">
             <ul>{% for stat in year.1 %}
                <li style="list-style-type: none; width:100%; text-align:center;"><span style="font-size: {{ stat.1 }}em;">
                  <a href="{% url chmura.word.views.word object_id=stat.3 %}">{{ stat.0 }}</span></a>({{ stat.2 }})</li>{% endfor %}
             </ul>
         </div>{% endfor %}
       </div>
{% endblock content %}