{% extends "page.html" %}{% block content %}
       <div class="years-table">
         <div class="years-row">
           <div class="year-head-nav">{% if prev %}
             <a href="{% url chmura.word.views.year object_id=prev.id width=width %}">&larr;</a>{% endif %}
           </div>{% for year in array %}
           <div class="year-head">
             <h5><a href="{% url chmura.speech.views.speech object_id=year.0.id %}">{{ year.0.date.year }}</a></h5>
           </div>{% endfor %}
           <div class="year-head-nav">{% if next %}
             <a href="{% url chmura.word.views.year object_id=next.id width=width %}">&rarr;</a>{% endif %}
           </div>
         </div>  
         <div class="cloud-row">
<div class="cloud-cell-nav">&nbsp;</div>
{% for year in array %}
           <div class="cloud-cell">
             <ul>{% for stat in year.1 %}
               <li><span style="font-size: {{ stat.1 }}em;">
                 <a title="kliknij tutaj, żeby zobaczyć statystyki"
                   href="{% url chmura.word.views.word object_id=stat.3 %}">{{ stat.0 }}</a></span>&nbsp;&nbsp;<small>({{ stat.2 }})</small></li>{% endfor %}
             </ul>
         </div>{% endfor %}
<div class="cloud-cell-nav">&nbsp;</div>
       </div>
{% endblock content %}
